.row-header {
    margin: 0px auto;
    padding: 0px 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.row-footer {
    margin: 0px auto;
    padding: 20px 0px;
    background-color: #1b1b1b;
    background-repeat: repeat-x;
    border-color: #252525;
}

.jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
    background-color: gray;
    color: floralwhite;
    background-image: url(/app/images/header.jpg)
}

#prototype {
    background-color: silver;
    background-image: url(/app/images/prototype.jpg);
    color: floralwhite;
    margin: 0px auto;
    padding: 30px 30px;
    width: 100%;
}

#destroyerJmbtrn {
    background-color: black;
    background: url(/app/images/header.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#vid-header {
    text-align: center;
    text-transform: uppercase;
}

#playVid:hover {
    background-color: midnightblue;
    opacity: 0.6;
    cursor: pointer;
}

#playVid {
    max-height: 100px;
}

.carousel {
    background: #1a237e;
}

.carousel .item {
    height: 300px;
}

.carousel .item img {
    left: 0;
    min-height: 300px;
    position: absolute;
    top: 0;
}

.navbar-inverse {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a:hover {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a:focus {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .open > a {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .open > a:hover {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    background-color: #303f9f;
    color: #eeeeee;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #000000;
}

.navbar-inverse .navbar-nav .open .dropdown-menu {
    background-color: #303f9f;
    color: #eeeeee;
}

address {
    color: #0f0f0f;
    font-size: 80%;
    margin: 0px;
}

body {
    align: center;
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.tab-content {
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 10px;
}

.affix {
    top: 100px;
}

#carouselButtons {
    bottom: 0px;
    position: absolute;
    right: 0px;
}

#signIn {
    background-color: dimgray;
    color: floralwhite;
}

.vertical-separator {
    color: gray;
}

.vertical-separator:hover {
    color: orange;
}

#productTag:hover,
#modelTag:hover,
#destroyerTag:hover,
#powerTag:hover,
#updatesTag:hover {
    border-bottom: 2px solid red;
}

#supportTag:hover,
#findTag:hover,
#shopTag:hover,
#logIn:hover {
    border-bottom: 2px solid blue;
}

#supportTag,
#findTag,
#shopTag {
    font-weight: bold;
}

#logIn {
    color: darkorange;
}

.modal-content {
    background-color: #1b1b1b;
    color: darkgray;
}

#followPhx {
    text-transform: uppercase;
    color: dimgray;
}

#name,
#email2 {
    width: 70%;
}

.input-group {
    display: table;
    width: 100%;
}

#productUpdates {
    opacity: 0.6;
    background-color: darkblue;
    color: floralwhite;
    text-transform: uppercase;
}

#shortIntro {
    text-shadow: 1px 1px 8px green;
}

#headerPhnx {
    text-shadow: 1px 1px 8px red;
}

#imgBox {
    margin-left: 5%;
}

#homePanels {
    height: 230px;
}

.jumbotron > .container > .row > .col-xs-12 > img {
    display: block;
    margin: 0 auto;
    border-radius: 200px;
}

#destroyer-section2 {
    background-color: #14151a;
    width: 100%;
    color: whitesmoke;
}

#destroyerHead {
    
}

#destroyerIntro {
    border-top: dashed 1px dimgray;
    padding-top: 25px;
    color: whitesmoke;
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
}

#destroyerPanel1 {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    margin-top: 25px;
}

#destroyerPanel1, #destroyerPanel2, #destroyerPanel3 {
    background-color: #1b1d24;
    text-transform: uppercase;
}

#destroyerThumb {
    max-height: 50px;
    border-radius: 6px;
}

.container > .row > .col-sm-4 > .panel-group > .panel > a {
    color: whitesmoke;
}

#destroyer-section3 {
    background-color: whitesmoke;
    width: 100%;
}

#destroyer-section4 {
    
}

