<!DOCTYPE html>
<html lang="en" ng-app="phoenixApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <link rel="shortcut icon" type="image/x-icon" href="images/logo.png" height=32 width=32/>
    <title>Phoenix</title>

    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/my-styles.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Electrolize|Orbitron|Geo|Cinzel' rel='stylesheet' type='text/css'>

</head>

<body id="page-homepage">

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collased" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" height=30 width=41></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" ng-controller="homeController as homeCtrl">
                <ul class="nav navbar-nav">
                    <li ng-repeat="left in homeCtrl.leftNav"><a href={{left.link}} id={{left.id}}>{{left.name}}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-repeat="right in homeCtrl.rightNav"><a href={{right.link}} id={{right.id}}>{{right.name}}</a></li>
                    <li>
                        <a id="logIn">
                            <span class="glyphicon glyphicon-log-in"></span> My Phoenix</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="loginModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login </h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="email">Email address</label>
                            <input type="email" class="form-control input-sm" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label class="sr-only" for="password">Password</label>
                            <input type="password" class="form-control input-sm" id="password" placeholder="Password">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember me</label>
                        </div>
                        <button type="submit" class="btn  btn-sm" id="signIn">Sign In</button>
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <header class="jumbotron">
        <div class="container">
            <div class="row row-header">
                <div class="col-xs-12 col-sm-8">
                    <h1 id="headerPhnx">Phoenix</h1>
                    <p style="padding:40px;"></p>
                    <p id="shortIntro">We combine years of experience with cutting-edge technology, and create comprehensive security platforms. Focus on what matters, and leave threat prevention and annihilation to us.</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <p style="padding: 20px;"></p>
                    <img src="images/logo.png" class="img-responsive">
                </div>
            </div>
        </div>
    </header>

    <div class="container" id="prototype">
        <div class="row">
            <div class="col-xs-12 col-sm-10">
                <h2>Prototype 212</h2>
            </div>
            <div class="col-xs-12 col-sm-2">
                <p style="padding: 2px;"></p>
                <a class="btn btn-block btn-sm" id="productUpdates">Product Updates</a>
            </div>
        </div>
    </div>

    <div id="updateModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Get Prototype 212 Updates </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="name" class="col-xs-12 col-sm-2 control-label">Name</label>
                            <div class="col-xs-12 col-sm-10">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Full Name">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-xs-12 col-sm-2 control-label">Email</label>
                            <div class="col-xs-12 col-sm-10">
                                <div class="input-group">
                                    <input type="email" class="form-control" id="email2" name="email" placeholder="Enter Your Email Address">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-offset-2">
                                <button type="submit" class="btn btn-primary">Sign Up</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-content" ng-controller="homeController as homeCtrl">
            <div class="col-xs-12 col-sm-4" ng-repeat="box in homeCtrl.homeBoxes">
                <div class="panel panel-default">
                    <div class="panel-body" id="homePanels">
                        <a href="#">
                            <img class="img-thumbnail" ng-src={{box.image}} alt="Platform"   id="imgBox">
                        </a>
                        <h4>{{box.description | uppercase}}</h4>
                    </div>
                    <div class="panel-footer">
                        <a href="#">{{box.comment | uppercase}} <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="row-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <ul class="list-unstyled list-inline">
                        <li><a href="index.html" class="vertical-separator">Phoenix © 2016</a></li>
                        <li><a href="#" class="vertical-separator">Legal</a></li>
                        <li><a href="#" class="vertical-separator">Contact</a></li>
                        <li><a href="#" class="vertical-separator">Careers</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <ul class="list-unstyled list-inline">
                        <li id="followPhx">Follow Phoenix | </li>
                        <li><a href="#" class="vertical-separator">Facebook</a></li>
                        <li><a href="#" class="vertical-separator">Twitter</a></li>
                        <li><a href="#" class="vertical-separator">LinkedIn</a></li>
                        <li><a href="#" class="vertical-separator">YouTube</a></li>
                        <li><a href="#" class="vertical-separator">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Angular JS (necessary for easier and non-repetitive code) -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <!-- phoenixApp -->
    <script src="scripts/phoenixApp.js"></script>
    <!-- Modals -->
    <script src="scripts/modals.js"></script>

</body>

</html>